* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

body {
    background-color: #d9dcd6;
}

/* Top Nav Bar, Login link links to footer*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #053750;
    color: #ffffff;
    flex-wrap: wrap;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div ul {
    list-style-type: none;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16x
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Your Design.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.Side {
    margin-right: 20px;
    margin-left: 5px;
    margin-up: 20px;
    border-radius: 5%;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;
    background-color: #053750;

   /* Set text to grey on side nav bar*/
    h3  { color:grey
    }
    p {color: grey;}
}


.Consultation {
    margin-bottom: 32px;
    color: #ffffff;
    background-color: white;
    padding-bottom: 5%;
     padding-top: 1%;

}
.Consultation img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    background-color: white;

}

.Contact {
    margin-bottom: 32px;
    color: #ffffff;
    background-color: white;
    padding-bottom: 5%;
        padding-top: 1%;
}
.Contact img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    background-color: #a1bd25;
}

.Location {
    margin-bottom: 32px;
    color: #ffffff;
    background-color:white;
    padding-bottom: 5%;
        padding-top: 1%;
}
/* This location link would be linked to google maps*/
.Location img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
    background-color: #a1bd25;
}

.Plumbing-Supply {
    margin-bottom: 20px;
    padding: 50px;
    border: 10px solid black;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;
    background-color: red;
    color: #ffffff;

}
.Plumbing-Supply img {
    max-height: 200px;
    
}
.Plumbing-Supply h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: grey;
}

.Kitchen-Bath-Design {
    margin-bottom: 20px;
    padding: 50px;
    border: 10px dashed black;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;
    background-color: #053750;
    color: #ffffff;
}
.Kitchen-Bath-Design img {
    max-height: 200px;
    border-radius: 25% 10%;
}
.Kitchen-Bath-Design h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: grey;
}
.Lighting {
    margin-bottom: 20px;
    padding: 50px;
    border: 10px solid black;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'calibri', 'Trebuchet MS', sans-serif;
    background-color: #053750;
    color: #ffffff;
}
.Lighting h2 {
    margin-bottom: 20px;
    font-size: 36px;
    background-color: grey;
}

.Lighting img {
    max-height: 200px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: grey;
}